:root {
  --color: rgb(11, 102, 144);
}

.profile {
  width: 100px;
  height: auto;
}
#main-content {
  margin: 10px auto;
}
.hero {
  margin-top: 0px;
}
.uppercase {
  text-transform: uppercase;
}
.name {
  font-weight: bolder;
  color: var(--color);
  font-size: 3rem;
  border-bottom: 2px solid black;
}

.at-bottom {
  display: block;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.at-bottom h1,
.at-bottom h2,
.at-bottom h3 {
  color: var(--color);
}
.social-bar a i {
  margin: 5px;
}
.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}
.gallery a,
.gallery .grid-item {
  width: 500px;
  height: auto;
}

.gallery img {
  box-shadow: var(--color) 1px 1px 5px;
  border-radius: 10px;
}

.w-pic > img + .w-details {
  display: none;
}

.w-details h3 {
  color: yellow;
}

.w-pic:hover > img {
  filter: grayscale(10%);
  filter: opacity(0.2);
  filter: brightness(0.4);
  box-shadow: var(--color) 2px 2px 10px;
}

.w-pic > img:hover + div.w-details {
  display: block;
  z-index: 1;
}

span.label + img {
  margin-top: 15px;
}

a.link-text {
  color: var(--color);
}
#footer .container-wrap a {
  color: blue;
}

/* utilities */
.d-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
